<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3>
          <i class="mdi-content-send brown-text"></i>
        </h3>
        <h4>About Me</h4>
        <p class="left-align light">
          I'm Hakan Pinar. I'm from Heusden, Belgium but I have Turkish orogin. I'm student in PXL Hasselt. I'm currently studying
          application development. Furthermore, I also like playing football, going out with my friends and of course programming.
          Building user-friendly, valuable projects is my passion. So that I can help people to make their lives easier.
        </p>
      </div>
    </div>

  </div>
</div>