<!-- NAVIGATION -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a href="#" id="logo-container" class="brand-logo">
      <!-- <img src="assets/logo.png" alt="logo"> -->
    </a>
    <ul class="right hide-on-med-and-down nav-font">
      <li>
        <a href="#home">HOME</a>
      </li>
      <li>
        <a href="#">ABOUT ME</a>
      </li>
      <li>
        <a href="#">STUDIES</a>
      </li>
      <li>
        <a href="#">WORK EXPERIENCE</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a href="#home">HOME</a>
      </li>
      <li>
        <a href="#">ABOUT ME</a>
      </li>
      <li>
        <a href="#">STUDIES</a>
      </li>
      <li>
        <a href="#">WORK EXPERIENCE</a>
      </li>
      <li>
        <a href="#">CONTACT</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
<!-- END NAVIGATION -->

<!-- PARALLAX -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container scrollspy" id="home">
      <br>
      <br>
      <h1 class="header center white-text text-lighten-2">HAKAN PINAR</h1>
      <div class="row center">
        <h5 class="header col s12 light">Student at PXL, Hasselt from Heusden, Belgium</h5>
      </div>
      <hr>
      <div class="row center-align">
        <div class="chip chip_align background-transparent">
          <img src="assets/insta.ico" alt="insta">
          <span class="white-text">Hakan Pinar</span>
        </div>
        <div class="chip chip_align background-transparent">
          <img src="assets/snap.ico" alt="snap">
          <span class="white-text">Hakan Pinar</span>
        </div>
        <div class="chip chip_align background-transparent">
          <img src="assets/fb.ico" alt="fb">
          <span class="white-text">Hakan Pinar</span>
        </div>
        <div class="chip chip_align background-transparent">
          <img src="assets/linkedin.ico" alt="linkedin">
          <span class="white-text">Hakan Pinar</span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/background1.jpg" alt="Unsplashed background img 1">
  </div>
</div>

<!-- END PARALLAX -->
<!-- ABOUT ME -->
<app-aboutme></app-aboutme>
<!-- END ABOUT ME -->

<app-footer></app-footer>